<%= form_with(model: story) do |form| %>
  <% if story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(story.errors.count, "error") %> prohibited this story from being saved:</h2>

      <ul>
        <% story.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :species %>
    <%= form.text_field :species %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :affiliations %>
    <%= form.text_field :affiliations %>
  </div>

  <div class="field">
    <%= form.label :weapon %>
    <%= form.text_field :weapon %>
  </div>

  <div class="field">
    <%= form.label :vehicle %>
    <%= form.text_field :vehicle %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
