<p id="notice"><%= notice %></p>

<h1>Stories</h1>

<%= form_tag import_stories_path, multipart: true do %>
    <%= file_field_tag :file %>
  <%= submit_tag "Upload file" %>

<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Species</th>
      <th>Gender</th>
      <th>Affiliations</th>
      <th>Weapon</th>
      <th>Vehicle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.name %></td>
        <td><%= story.location %></td>
        <td><%= story.species %></td>
        <td><%= story.gender %></td>
        <td><%= story.affiliations %></td>
        <td><%= story.weapon %></td>
        <td><%= story.vehicle %></td>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>
