<p id="notice"><%= notice %></p>

<h1>Stories</h1>

<%= form_tag import_stories_path, multipart: true do %>
    <%= file_field_tag :file %>
  <%= submit_tag "Upload file" %>

<% end %>

<table class = "table">
  <thead>
    <tr>
      <th  scope="col" ><%= link_to "Name", :sort => "name"%></th>
      <th scope="col"><%= link_to "Location", :sort => "location"%></th>
      <th  scope="col"><%= link_to "Species", :sort => "species"%></th>
      <th  scope="col"><%= link_to "Gender", :sort => "gender"%></th>
      <th  scope="col"><%= link_to "Affiliation", :sort => "affiliations"%></th>
      <th scope="col"><%= link_to "Weapon", :sort => "weapon"%></th>
      <th scope="col"><%= link_to "Vehicle", :sort => "vehicle"%></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.name %></td>
        <td><%= story.location %></td>
        <td><%= story.species %></td>
        <td><%= story.gender %></td>
        <td><%= story.affiliations %></td>
        <td><%= story.weapon %></td>
        <td><%= story.vehicle %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class = "w-50 d-flex justify-content-between align-items-center">
<%= link_to_previous_page @stories, 'Previous Page' %>
<div>
<%= page_entries_info @stories %>
</div>
<%= link_to_next_page @stories, 'Next Page' %>
</div>
